{% extends 'base.html.twig' %}

{% block title %}Anim'Nord - Mentions légales{% endblock %}

{% block body %}

    <main class="width_80">
        <h1 class="title colorWhite flexCenter"> Mentions légales</h1>
        <h3 class="flexCenter colorGrey margin_15_0">En vigueur au 06/06/2021</h3>

        <p>Conformément aux dispositions des Articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la
            Confiance dans l’économie numérique, dite L.C.E.N., il est porté à la connaissance des Utilisateurs du
            site https://animnord.000webhostapp.com les présentes mentions légales.</p>
        <p>La connexion et la navigation sur le site Anim'Nord par l’Utilisateur implique acceptation
            intégrale et sans réserve des présentes mentions légales.</p>
        <p>Ces dernières sont accessibles sur le site à la rubrique « Mentions légales ». </p>
        <h2 class="bold colorBlue margin_15_0">ARTICLE 1 : L’éditeur</h2>
        <p>L’édition et la direction de la publication du site https://animnord.000webhostapp.com/ est assurée par
            Chloé Ardoise, domiciliée à Anor, dont le numéro de téléphone est 0767669766, et
            l'adresse e-mail chloe.ardoise@gmail.com.</p>
        <h2 class="bold colorBlue margin_15_0">ARTICLE 2 : L’hébergeur</h2>
        <p>L'hébergeur du site https://animnord.000webhostapp.com est la Société 000webhost, dont le siège
            social est situé au 61 Lordou Vironos Street 6023 Larnaca, Cyprus, avec le numéro de téléphone :
            +908502555551.</p>
        <h2 class="bold colorBlue margin_15_0">ARTICLE 3 : Accès au site</h2>
        <p>Le site est accessible par tout endroit, 7j/7, 24h/24 sauf cas de force majeure, interruption
            programmée ou non et pouvant découlant d’une nécessité de maintenance.</p>
        <p>En cas de modification, interruption ou suspension des services le site
            https://animnord.000webhostapp.com ne saurait être tenu responsable.</p>
        <h2 class="bold colorBlue margin_15_0">ARTICLE 4 : Collecte des données</h2>
        <p>Le site assure à l'Utilisateur une collecte et un traitement d'informations personnelles dans le respect
            de la vie privée conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers
            et aux libertés.</p>
        <p>En vertu de la loi Informatique et Libertés, en date du 6 janvier 1978, l'Utilisateur dispose d'un droit
            d'accès, de rectification, de suppression et d'opposition de ses données personnelles. L'Utilisateur
            exerce ce droit :</p>
        <ul>
            <li>via son espace personnel ;</li>
        </ul>
        <h2 class="bold colorBlue margin_15_0">ARTICLE 5 : Propriété intellectuelle</h2>
        <p class="end">Toute utilisation, reproduction, diffusion, commercialisation, modification de toute ou partie du site
            https://animnord.000webhostapp.com, sans autorisation de l’Editeur est prohibée et pourra entraînée
            des actions et poursuites judiciaires telles que notamment prévues par le Code de la propriété
            intellectuelle et le Code civil.</p>
    </main>

{% endblock %}
