{% extends 'base.html.twig' %}

{% block title %}Anim'Nord - Changer mon mot de passe{% endblock %}

{% block body %}
    {% if app.user %}
        <main>
            <div>
                <h1 class="titleAccount">Changer mon Mot de passe</h1>
                <div class="containerAccount">
                    {{ form(form) }}
                </div>
            </div>
        </main>
    {% endif %}
{% endblock %}


